body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
}

.nav_bar {
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0px 40px;
}

.navbar_brand {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar_brand img {
    max-width: 100px;
    max-height: 30px;
    height: auto;
}

.navbar_brand p {
    padding-left: 15px;
    font-size: x-large;
}

.navbar_menu p {
    display: none;
    text-align: center;
    font-size: medium;
}

.navbar_menu img {
    width: 40px;
}

.filterbar {
    grid-area: filterbar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(200, 200, 200);
    padding: 20px 0;
}

.filterbar p {
    font-size: larger;
}

.filterbar select {
    width: 80%;
    height: 40px;
    font-size: larger;
    border-color: darkgrey;
    border-radius: 5px;
}

.main {
    grid-area: main;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.products {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    gap: 20px;
    padding-bottom: 20px;
}

.prod_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px lightgrey;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
}

.prod_card img {
    max-width: 300px;
    padding: 20px 20px;
}

.prod_card p {
    text-align: center;
    font-size: x-large;
}

.prod_card_button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.main_pages a {
    background-color: #05141f;
    color: ghostwhite;
    font-size: x-large;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #05141f;
    color: ghostwhite;
    font-size: x-large;
    text-align: center;
}

.footer_icons img {
    width: 100px;
}

.grid_container {
    display: grid;
    grid-template-areas:
    "navbar"
    "filterbar"
    "main"
    "footer";
    grid-template-columns: auto;
    grid-auto-rows: 120px auto auto 120px;
}

@media (min-width: 576px) {
    .nav_bar {
        padding: 20px 10px;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 30px;
    }

    .navbar_brand img {
        max-width: 70px;
        max-height: 20px;
        height: auto;
    }

    .navbar_brand p {
        font-size: medium;
    }

    .navbar_menu p {
        display: block;
        padding-bottom: 15px;
    }

    .navbar_menu img {
        display: none;
    }

    .filterbar p {
        font-size: medium;
    }

    .filterbar select {
        font-size: larger;
    }

    .products {
        grid-template-columns: repeat(2,auto);
    }

    .prod_card img {
        max-width: 200px;
    }

    .prod_card p {
        font-size: medium;
    }

    .filterbar select {
        width: 95%;
    }

    .main_pages a {
        font-size: medium;
    }

    .footer {
        font-size: medium;
    }

    .footer_icons img {
        width: 70px;
    }

    .grid_container {
        grid-template-areas: 
        "navbar filterbar"
        "navbar main"
        "footer main";
        grid-template-columns: minmax(200px,15%) auto;
        grid-auto-rows: auto auto 200px;
    }
}

@media (min-width: 992px) {
    .products {
        grid-template-columns: repeat(4,auto);
    }
}